<template>
  <div class="result">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="which-day-label">DZIŚ</div>
        <div class="date" :class="{
          'is-sunday': result.currentDay.isSunday,
          'is-not-shopping': result.currentDay.isShopping 
        }">
          <div class="header">
            <div class="header--text">
              <p>{{ result.currentDay.dayLabel }}</p>
              <p v-if="result.currentDay.isSunday">{{ getSundayLabel(result.currentDay) }}</p>
            </div>
            <div class="badge-container">
              <div class="badge"
                :class="{ 'is-stroked': !result.currentDay.isShopping }"
              ><i class="fa fa-3x fa-shopping-basket"></i></div>
            </div>
          </div>
          <div class="content">
            <span class="day-number">{{ result.currentDay.dayNumber }}</span>
            <span class="month--name">{{ result.currentDay.monthName }}</span>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="which-day-label">NASTĘPNIE</div>
        <div class="date" :class="{
          'is-sunday': result.nextSunday.isSunday,
          'is-not-shopping': result.nextSunday.isShopping 
        }">
          <div class="header">
            <div class="header--text">
              <p>{{ result.nextSunday.dayLabel }}</p>
              <p v-if="result.nextSunday.isSunday">{{ getSundayLabel(result.nextSunday) }}</p>
            </div>
            <div class="badge-container">
              <div class="badge"
                :class="{ 'is-stroked': !result.nextSunday.isShopping }"
              ><i class="fa fa-3x fa-shopping-basket"></i></div>
            </div>
          </div>
          <div class="content">
            <span class="day-number">{{ result.nextSunday.dayNumber }}</span>
            <span class="month--name">{{ result.nextSunday.monthName }}</span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import GET_RESULT from "../graphql/queries/getResult.gql";

export default {
  data() {
    return {
      result: {}
    };
  },

  apollo: {
    result: {
      query: GET_RESULT,
      update (data) {
        const nextSunday = JSON.parse(data.result.nextSunday);
        this.$emit('dates-set', {
          daysToSundayRemaining: nextSunday.toNextSunday,
        });
        return {
          __typename: data.result.__typename,
          currentDay: JSON.parse(data.result.currentDay),
          nextSunday
        }
      }
    },
  },

  computed: {
    sundayTypeLabel () {
      return this.result.nextSunday.isShopping ? 'handlowa' : 'niehandlowa';
    },

    nextSundayInDays () {
      return `Za ${this.result.nextSunday.toNextSunday} dni`;
    }
  },

  methods: {
    getSundayLabel (day) {
      const SHOPPING = 'handlowa';
      const NON_SHOPPING = 'niehandlowa';
      return day.isShopping ? SHOPPING : NON_SHOPPING;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../assets/css/colors';
@import '../assets/css/fonts';
@import '../assets/css/resolutions';

@mixin boxShadow() {
  box-shadow: 10px 10px rgba(0,0,0, .1);
}

.result {
  @include desktop {
    .columns {
      .column {
        margin: 0 50px;
      }
    }
  }

  @include desktop {
    .which-day-label {
      display: none;
    }
  }

  @include mobile {
    .which-day-label {
      font-family: 'Abril Fatface';
      font-size: 20pt;
      opacity: .4;
    }
  }

  .date {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    position: relative;
  
    .header {
      background: $black;
      display: block;
      padding: 20px 0;
      @include boxShadow();

      .header--text {
        @extend %primaryFont;
        font-size: 25pt;
        color: white;
        font-weight: bold;
        z-index: 2;
        margin-bottom: 20px;
      }

      .badge-container {
        z-index: 1;
        height: 1px;
        justify-content: center;
        display: flex;
        position: relative;
        top: -30px;

        .badge {
          background: $black;
          width: 100px;
          height: 100px;
          transform: rotate(-22deg);
          width: 100px;
          height: 100;
          border-radius: 100px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          justify-content: center;

          &.is-stroked {
            &::before {
              content: '';
              position: absolute;
              border-bottom: 7px solid;
              border-color: $black;
              width: 100%;
              transform: rotate(-30deg);
            }
          }
  
          i {
            color: white;
          }
        }
      }
    }
  
    .content {
      background: #fff;
      height: auto;
      display: flex;
      flex-direction: column;
      flex: 1 100%;
      align-items: center;
      justify-content: center;
      @include boxShadow();

      .day-number {
        @extend %primaryFont;
        font-weight: 700;
        display: block;
        font-size: 150pt;
        position: relative;
        color: $black;
      }

      .month--name {
        @extend %primaryFont;
        color: $black;
        width: 100%;
        padding: 0 0 30px 0;
        font-size: 20pt;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 5px;
      }
    }

    &.is-sunday {
      .header {
        background: #DE5B49;

        .badge {
          background: $red;

          &.is-stroked {
            &::before {
              border-color: $red;
            }
          }
        }
      }
      .content {
        .day-number {
          color: $red;
        }
      }
    }
  }

  .info {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 30pt;
  }
}
</style>
