<template>
  <div id="app">
    <section class="hero is-bold is-fullheight">
        <div class="top">
          <div class="top-bg"></div>
          <div class="wave left"></div>
          <div class="wave left wave-1"></div>
          <div class="wave left wave-2"></div>
        </div>
      <div class="hero-body">
        <div class="today-label">DZIŚ</div>
        <div class="next-sunday-label">NASTĘPNIE</div>
        <div class="container">
          <result @dates-set="handleDatesSet" />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Result from './components/Result.vue';
export default {
  name: 'App',

  components: {
    Result
  },

  methods: {
    handleDatesSet ({ daysToSundayRemaining }) {
      this.daysToSundayRemaining = daysToSundayRemaining;
    }
  },

  data: () => ({
    daysToSundayRemaining: 0,
  }),
}
</script>

<style lang="scss" scoped>
@import './assets/css/colors';
@import './assets/css/fonts';
@import './assets/css/resolutions';

.top {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;


  @media(max-width: 768px) {
    .wave {
      bottom: 10%;
      right: -100%;
    }
  }

  @media (min-width: 769px) {
    .wave {
      top: 30%;
      left: 0;
    }
  }

  .wave {
    opacity: .4;
    position: absolute;
    background: #A1CD73;
    width: 2000px;
    height: 2000px;
    margin-right: 250px;
    margin-top: 250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 9000ms infinite linear;

    &.wave-1 {
      animation: drift 7000ms infinite linear;
      opacity: .1;
      background: #3F9A82;
    }
    &.wave-2 {
      animation: drift 12000ms infinite linear;
      opacity: .07;
      background: #3B597D;
    }
  }

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
}

@mixin whichDayLabel {
  position: absolute;
  top: 0;
  padding-top: 50px;
  font-size: 40pt;
  opacity: .2;
  font-family: 'Abril Fatface';
}

@include desktop { 
  .today-label {
    @include whichDayLabel;
    left: 50px;
  }

  .next-sunday-label {
    @include whichDayLabel;
    right: 50px;
  }
}

@include mobile {
  .next-sunday-label, .today-label {
    display: none;
  }  
}
</style>

